.header {
  height: 60px;
  width: 100%;
  background-color: deepskyblue;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}

.main {

  display: flex;
  flex-direction: column;
  align-items: center;


  .todo-task {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    width: 100%;

    input {
      height: 20px;
      width: 18%;
    }

    .add-btn {
      margin-left: 8px;

      img {
        padding-top: 3px;

        height: 20px;
        width: 20px;
      }
    }
  }

  .list-task {
    border-top: 1px solid #16191a;
    margin-top: 44px;
    width: 40%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .list-tasks-wrapper {
      width: 60%;

      .task {
        display: flex;

        border: 1px solid deepskyblue;
        height: 60px;
        margin-bottom: 6px;

        .info-task {
          .text-task {

          }

          .tags-task {

            .tag {
              display: flex;
              align-items: center;

              p{
                margin: 0;
              }

              .add-tag{
                height: 10px;
                width: 10px;
                margin: 4px 0 0 6px;

                :hover {
                  height: 12px;
                  width: 12px;
                }
              }
            }
          }
        }

        .edit-btn {
          margin-left: auto;
        }

        img {
          height: 20px;
          width: 20px;
          margin-left: 6px;

          cursor: pointer;
        }
      }
    }
  }
}
