.header {
  height: 60px;
  width: 100%;
  background-color: deepskyblue;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}

.main {

  display: flex;
  flex-direction: column;
  align-items: center;


  .todo-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    width: 100%;

    .edit-tags{
      display: flex;

      align-items: center;
      input{
        outline:none;
      }
    }

    .task-wrapper {

      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      input {
        height: 20px;
        width: 18%;
      }

      .add-btn {
        margin-left: 8px;

        img {
          padding-top: 3px;

          height: 20px;
          width: 20px;
        }
      }
    }

    .tags-list {
      border: none;
      width: 20vw;
    }

  }

  .list-task {
    border-top: 1px solid #16191a;
    margin-top: 44px;
    width: 40%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .list-tasks-wrapper {
      width: 60%;

      .task {
        display: flex;

        border: 1px solid deepskyblue;
        height: 60px;
        margin-bottom: 6px;

        .info-task {
          .text-task {

          }

          .tags-task {
            display: flex;

            .tag {
              //display: flex;
              //align-items: center;

              p {
                margin: 0;
              }
            }
          }
        }
      }

      .edit-btn {
        margin-left: auto;
      }

      .btn-list {
        height: 20px;
        width: 20px;
        margin-left: 6px;

        cursor: pointer;
      }
    }
  }
}
